@import "_variables";
body {
  margin: 0px;
  height: max-content;
  font-family: $main-font;
}

main {
  padding: 0px 160px;
}
header {
  position: sticky;
  top: 0px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 15px 130px;
  font-size: 12px;
}
header > div {
  width: 33%;
  display: flex;
  align-items: center;
}
header > div:nth-child(1),
header > div:nth-child(3) {
  display: flex;
  div:first-child {
    margin-right: 30px;
  }
}
header > div:nth-child(2) {
  display: flex;
  justify-content: center;
}
header > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

.info {
  top: 20px;
  z-index: -99;
  position: relative;
  height: 90vh;
  display: grid;
  grid-template: "main-info-left-box main-info-right-box" 1fr / 1fr 1fr;
  // ///////////////////////
  img {
    grid-area: "main-info-left-box";
    width: 100%;
    height: 90vh;
  }
  div {
    grid-area: "main-info-right-box";
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // ///////////////////////
    div {
      width: 410px;
      text-align: center;
      font-size: 40px;
      font-family: $second-font;
      color: rgb(96, 90, 82);
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: inherit;
      color: $brown-color;
      border: 1px solid $brown-color;
      width: 240px;
      height: 50px;
      padding: 12px 80px;
      margin-top: 64px;
      font-family: $main-font;
      font-size: 10px;
    }
  }
}
.cardpart {
  div {
    background-color: #f1e2d7;
  }
  margin-bottom: 80px;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
  .items-header {
    padding: 80px 0px;
    h1 {
      font-size: 10px;
    }
    h2 {
      font-size: 37px;
      font-family: $second-font;
    }
    h1,
    h2 {
      text-align: center;
    }
  }

  .itmes-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .items-info-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      img {
        width: 380px;
        height: 500px;
      }
      img + div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 45px 0px;

        div:nth-child(1) {
          display: flex;
          font-size: 10px;
          div:nth-child(1) {
            padding-right: 20px;
          }
          div:nth-child(2) {
            padding-left: 10px;
            color: rgb(255, 166, 0);
            border-left: 1px solid rgb(255, 166, 0);
          }
        }
        .items-info-name {
          font-size: 40px;
          font-family: $second-font;
          margin: 15px 0px;
        }
        .items-info-price {
          color: $gray-color;
          font-size: 15px;
        }
      }
    }
    button {
      width: 240px;
      height: 55px;
      background-color: inherit;
      color: $gray-color;
      font-size: 10px;
      border: 1px solid $gray-color;
    }
  }
}

footer {
  padding: 60px 0px;
  display: flex;
  background-color: #f3ede8;

  & div {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & > div:nth-child(1) {
    border-right: 1px solid black;
  }
  & > div:nth-child(2) {
    border-right: 1px solid black;
  }
  h1 {
    font-size: 10px;
    margin-bottom: 30px;
    color: $gray-color;
  }
  h1 + div {
    display: flex;
    flex-direction: column;
    a {
      font-size: 10px;
      color: black;
      text-decoration: none;
      margin-bottom: 15px;
    }
  }
}

.history {
  margin-bottom: 90px;
  .history-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    img {
      width: 100%;
    }
  }
  .history-text {
    font-family: $second-font;

    background-color: #f3ede8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div:nth-child(1) {
      color: $gray-color;
      margin-bottom: 50px;
    }
    div:nth-child(2) {
      padding: 0px 100px;
      margin-bottom: 70px;
      font-size: 35px;
      text-align: center;
      color: $brown-color;
    }
    a {
      font-size: 13px;
      font-family: $main-font;
      color: $gray-color;
      text-decoration: none;
    }
  }
}
